.App {
  /*background-color: antiquewhite;*/
}

header {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.streams{
  margin-top: 30px;
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
}
.chat{
  background-color: blueviolet;
  margin: 5px;
  padding: 10px;
}
.twitchVid{
  background-color: blueviolet;
  padding: 10px;
}
.ytVid{
  background-color: cornflowerblue;
  padding: 10px;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
